doctype 5
html
  head
    title Alternative NotBugDB
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/js/jquery.tablesorter.js')
    script(src='/js/script.js')
  body
    div#page
      header.navbar.navbar-inverse.navbar-fixed-top
        div.navbar-inner
          div.container
            h4 Nimbula NotBugDB
            block header
              if (user)
                span.user
                  | Logged in as: 
                  strong= user
            
      div.main.container
        div.page-header
          block pageHeader
        section.content
          block content
